#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #565656;
  width: 550px;
  height: auto;
  text-align: left;
}


p {
  font-size: medium;
  font-weight: bold;
}


.read-the-docs {
  color: #888;
}

.catImage {
  width: 550px;
  height: auto;
}