#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #3c5b3c;
  width: 550px;
  height: auto;
  max-height: 700px;
  align-items: center;
  border-radius: 10px;
  
}

.CardContainer {
  display: flex;
  flex-direction: row;
  column-gap: 10px;

}

.info {
  font-size: large;
  font-weight: bold;
  text-align: left;
}


.read-the-docs {
  color: #888;
}

.catImage {
  width: auto;
  height: auto;
  max-width: 550px;
  max-height: 400px;
}

.clearbans{
  position:bottom; 
}